<?xml version="1.0"?>
<robot name="robot1" xmlns:xacro="http://ros.org/wiki/xacro">
<!--A URDF (Unified Robotic Description Format) file must include the first xml version and start with a robot name.
If you are using xacro (xml+micro) to reduce the script length then, it must include the xml name space "xacro"
represented by "xmlns:xacro". http://wiki.ros.org/urdf-->

<!--Pre-defining xacro properties-->
  <xacro:property name="length" value="0.3"/>
  <xacro:property name="width" value="0.2"/>
  <xacro:property name="height" value="0.1"/>

 <!--Pre-defining material properties-->
  <material name="green">
    <color rgba="0 0.8 0 1"/>
  </material>

<!--base_link is kind of a psuedo link which not neccessary for the
robot itself but used to avoid an KDL (Kinematic and Dynamics Libraries) error. It can be named anything.-->
  <link name="psuedo1">
    <!--inertial tag is must for simulation env.-->
    <inertial>
        <mass value="3.0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.0225" iyz="0.0" izz="0.0325"/>
    </inertial>
  </link>
<!--Start of the robot description-->
  <link name="base_link1">
    <visual>
        <geometry>
            <box size="${length} ${width} ${height}"/>
        </geometry>
        <material name="green"/>
    </visual>
<!--collision is an important tag and must be included in those links which are in contact 
with the surface. It's a good practice to define collision geometry for every link.-->
    <collision>
        <geometry>
            <box size="${length} ${width} ${height}"/> <!--collision geometry can be of any size-->
        </geometry>
    </collision>
  </link>
<!--Always define the body to psuedo link joint as fixed-->
  <joint name="base_to_world" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="base_link1"/>
    <child link="psuedo1"/>
  </joint>

<!--Instead of writing a long URDF file, xacro:include can be used to add other xacro files-->
  <xacro:include filename="$(find first_robot)/xacro/first_robot/wheel.xacro"/>
<!--Using the defined wheel macro to define all four wheels-->    
  <xacro:wheel prefix="right" suffix="front" reflect="-1" scope="1"/>
  <xacro:wheel prefix="right" suffix="back" reflect="-1" scope="-1"/>
  <xacro:wheel prefix="left" suffix="front" reflect="1" scope="1"/>
  <xacro:wheel prefix="left" suffix="back" reflect="1" scope="-1"/>

  <xacro:include filename="$(find first_robot)/xacro/first_robot/head.xacro"/>
  <xacro:include filename="$(find first_robot)/xacro/first_robot/gazebo_parameter.xacro"/>
  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNameSpace>/robot1</robotNameSpace>
      <robotParam>/robot1/robot_description</robotParam>
    </plugin>
  </gazebo>    
    
</robot>
