<launch>
  <arg name="topic" default="/tracking" />
  <arg name="bag"/>
  <arg name="output"/>
  <!--<arg name="framerate" default="5"/>-->
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(find ros_bag)/bag/$(arg bag).bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="$(arg topic)"/>
  </node>
  <!--<node pkg="ros_bag" type="img_video.py" name="img_video" required="true" args="$(arg bag) $(arg framerate)"/>-->
</launch>
