<launch>

  <arg name="rvizconfig" default="$(find first_robot)/rviz/multi.rviz"/>

  <group ns="robot1">
    <arg name="model" value="$(find first_robot)/xacro/first_robot/first_robot.xacro"/>
    <param name="tf_prefix" value="robot1"/>
    <param name="use_gui" value="true"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true" respawn="false"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" required="true" respawn="false"/>
  </group>

  <group ns="robot2">
    <arg name="model" value="$(find first_robot)/xacro/second_robot/second_robot.xacro"/>
    <param name="tf_prefix" value="robot2"/>
    <param name="use_gui" value="true"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true" respawn="false"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" required="true" respawn="false"/>
  </group>

  <node name="static_publisher1" pkg="tf" type="static_transform_publisher" args="-1.5 2 0 0 0 -0.7071068 0.7071068 world robot2/base_link2 100"/>
  <node name="static_publisher2" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 world robot1/base_link1 100"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" respawn="false" output="screen" required="true"/>

</launch>
